<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: header-css}"></head>
<body>

<div th:replace="~{fragments :: navbar}"></div>

<div class="container" style="max-width:600px;">
    <div class="card shadow-sm p-4">
        <h3 class="text-center mb-4">Я загубив річ</h3>

        <form>
            <div class="mb-3">
                <label class="form-label fw-bold small">Назва речі</label>
                <input type="text" class="form-control" placeholder="Рюкзак, телефон...">
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold small">Де загубили</label>
                <input type="text" class="form-control" placeholder="Місто, район">
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold small">Дата</label>
                <input type="date" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold small">Контактний телефон</label>
                <input type="tel" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold small">Опис</label>
                <textarea class="form-control" rows="4"></textarea>
            </div>

            <button class="btn btn-custom w-100 py-2">
                Опублікувати
            </button>
        </form>
    </div>
</div>

</body>
</html>
